{% extends 'base.html.twig' %}

{% block title %}Films du genre {{ movies[0].genre }}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h1 class="text-center text-muted">Liste des films</h1>
			<a class="btn btn-info shadow-sm" href="{{path('app_movie_new')}}">Ajouter un film</a>
		</div>
		<div class="row">
			{% for movie in movies %}
				<div class="col-md-4">
					<div class="card mb-4 p-3 border-0 shadow">
						<h5 class="">{{ movie.title }}</h5>
						<p class="">Réalisateur :
							<strong>
								<em>{{ movie.director.firstName }}
									{{ movie.director.lastName }}</em>
							</strong>
						</p>
						<p>Genre :
							<strong>
								<em>{{ movie.genre }}</em>
							</strong>
						</p>
						<a class="btn btn-info shadow-sm" href="{{path('app_movie_detail', {id: movie.id}) }}">Plus de détails</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
