{% extends 'base.html.twig' %}

{% block title %}
	{{ director.firstName }}
	{{ director.lastName }}
{% endblock %}

{% block body %}

	<h1></h1>

	<div class="container">
		<div class="card mb-4 p-3">
			<h5 class="">{{ director.firstName }}
				{{ director.lastName }}</h5>
			<p class="">Nationalité :
				<strong>
					<em>{{ director.nationality }}</em>
				</strong>
			</p>
		</div>
		<h3 class="mt-5">Films</h3>
		<div class="row">
			{% for movie in director.movies %}
				<div class="col-md-4">
					<div class="card mb-4 p-3 border-0 shadow">
						<h5 class="">{{ movie.title }}</h5>
						<p>Genre : <strong><em>{{ movie.genre }}</em></strong></p>
						<p>Année : <strong><em>{{ movie.releaseYear }}</em></strong></p>
						<a class="btn btn-info shadow-sm" href="{{path('app_movie_detail', {id: movie.id}) }}">Détails</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="btn btn-secondary shadow-sm mt-3" href="{{path('app_director') }}">Retour aux réalisateurs</a>
	</div>
{% endblock %}
